:root {
  --default-font: 'Mukta', sans-serif;
  --header-font: 'Bangers', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: var(--default-font);
  font-size: 36px;

  padding: .3em;
}

button {
  font-family: var(--default-font);
  font-size: 20px;

  padding: .15rem 1rem;
  margin: .5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  text-align: center;
  letter-spacing: .1rem;

  margin-bottom: .25em;
  margin-top: 0;
}
