/* global styles */

:root {
  --default-font: 'Mukta', sans-serif;
  --header-font: 'Bangers', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 85vh;
  margin: 0;

  font-family: var(--default-font);
  font-size: 36px;

  padding: .3em;
}

button {
  font-family: var(--default-font);
  font-size: 20px;

  padding: .15rem 1rem;
  margin: .5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  text-align: center;
  letter-spacing: .1rem;

  margin-bottom: .25em;
  margin-top: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Power Card inline icon styles */

.symbol {
  display: inline-grid;
  place-items: center;
  margin: 0 0.1em;
}
span.die {
  background: #999;
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.2em;
  color: yellow;
}
span:not(.die) {
  position: relative;
  top: 2px;
}
span.health {
  color: red;
}
span.vp {
  color: hsl(195, 53%, 59%);
}
span.money {
  color: hsl(120, 73%, 55%);
}
span.damage {
  color: hsl(0, 50%, 25%);
}